body {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: lightgreen;
    color: black;
}

.navbar a.active {
    background-color: orange;
    color: white;
}

.content {
    padding: 16px;
    height: 70vh;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.nav-container{
    display: table;
    margin: auto;
}

.nav-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 30px;
    border-radius: 10pt 10pt 10pt 10pt;
}

.btnLogin{
    float: right;
    font-size: 20px;
    width: 100px;
    margin-right: 40px;
}

.nav-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    border-radius: 10pt 10pt 10pt 10pt;
}

.main-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    width: 50%;
    border-radius: 10pt 10pt 10pt 10pt;
}

.main-card{
    display: block;
    margin: auto;
    background: orange;
    width: 50%;
    height: 200px;
    position: relative;
    top: 30%;
}

.card-container{
    display: inline-block;
    width: 100%;
}

#catchphrase{
    margin-top: 50px;
    text-align: center;
}

#title{
}

.nav-title{
    display: inline-block;
    float: left;
    margin-left: 20px;
}

.filter-selection{
    background: #cccccc;
}

.filter-title{
    display: inline-block;
    float: left;
    margin-left: 20px;
}

.filter-form{
    display: inline-block;
    margin: 20px;
}

.search-product{
    background: #555555;
    width: 200px;
    height: 300px;
    display: inline-block;
    text-align: center;
    margin: auto;
}

.content-container {

}

