
.header-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 10pt 10pt 10pt 10pt;
    font-family: "brevia", sans-serif;
    border: none;
    outline: none;
    width: 30%;
}

.nav-input{
    display: block;
    font-size: 20px;
    border-radius: 10pt;
    float: right;
    font-family: "brevia", sans-serif;
    border: none;
    outline: none;
    width: 20%;
}

.header-title{
    margin: auto;
    font-size: 70px;
    display: inline-block;
    text-align: center;
    color: #fc762b;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    float: left;
}

.filter-selection{
    background: #fc762b;
    height: 92px;
    color: #f2f2f2;
}

.filter-title{
    display: inline-block;
    float: left;
    margin-left: 20px;
    font-style: italic;
    font-weight: bold;
}

.filter-form{
    display: inline-block;
    margin: 20px;
}

.search-product{
    background: #f2f2f2;
    width: 200px;
    height: 300px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 1pt 1pt 5pt 1pt #fc762b;
}

#product{
    background: #f1f1f1;
    width: 40%;
    height: 100%;
    display: inline-block;
    float: left;
    box-shadow: 1pt 1pt 10pt 1pt #fc762b;
}

#product-store{
    background: #f1f1f1;
    width: 59%;
    height: 50%;
    display: inline-block;
    float: right;
    box-shadow: 1pt 1pt 10pt 1pt #fc762b;
    margin: auto;
    text-align: center;
}

#product-priceGraph{
    background: #555555;
    width: 59%;
    height: 45%;
    display: inline-block;
    float: right;
    margin-top: 30px;
}

#product-review{
    background: white;
    width: 100%;
    height: 45%;
    display: inline-block;
    float: right;
    margin-top: 20px;
}

#similar-product{
    background: #f2f2f2;
    width: 100%;
    height: 45%;
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 1pt 1pt 5pt 1pt #fc762b;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.content-container{
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    /* just for demo */
    min-width: 612px;
    height: 100%;
    width: 90%;
    margin: auto;
    background-color: #F8F8F8;
    padding: 50px;
    margin-top: 30px;
    box-shadow: 0 0 15px #cccccc;
    color: black;
    border-radius: 10px;
}

.product-photo{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 0;
}

.product-photo-specific{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: auto;
    height: 100%;
    margin: 0;
}

.select{
    width: 150px;
    font-family: "brevia", sans-serif;
    font-size: 10pt;
    height: 30px;
    border: none;
}

#filter-submit{
    font-family: "brevia", sans-serif;
    font-size: 10pt;
}

.individual-store{
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
    font-size: 20pt;
}

#price-comparisonImg{
    width: 100%;
    height: 100%;
}

.storeImg{
    margin-top: 40px;
    width: 100px;
    height: 100px;
}

.similar-product{
    background: #f1f1f1;
    width: 150px;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    margin-top: 40px;
}

.container-card{
    height: 100%;
    width: 90%;
    margin: auto;
    background-color: #F8F8F8;
    padding: 50px;
    margin-top: 30px;
    box-shadow: 0 0 15px #cccccc;
    color: black;
    border-radius: 10px;
}

